<div class="card shadow p-4">
    <div class="card-body">
        <h1 class="card-title">{{tituloPagina}}</h1>
        <p class="card-text lead">{{mensagem}}</p>
        <p class="card-text mt-3">
            Envie sua mensagem diretamente para: 
            <a href="mailto:contato@catalogo.com">
                <i class="fas fa-envelope"></i> <strong>contato@catalogo.com</strong>
            </a>
        </p>
    </div>
</div>