<div class="card shadow-sm p-4 text-center bg-light">
    <div class="card-body">
        <h1 class="card-title display-4 text-primary">{{titulo}}</h1>
        
        <p class="card-text lead mt-3">
            {{subtitulo}}
        </p>
        
        <hr class="my-4">
        
        <p class="lead">
            Navegue pelo menu acima para ver a lista completa de Filmes e Séries disponíveis.
        </p>
        
        <a href="/filmes" class="btn btn-primary btn-lg m-2">Ver Filmes</a>
        <a href="/series" class="btn btn-secondary btn-lg m-2">Ver Séries</a>
    </div>
</div>