<footer class="bg-dark text-white mt-5 p-3"> 
    <div class="container text-center"> <p class="mb-0">
            © 2025 Catálogo Web - AT1. Desenvolvido com Node.js e Express.
        </p>
        <p class="small mb-0">Arquitetura MVC e ES6 Modules.</p>
    </div>
</footer>