<%-include ('partials/header.ejs') %>
<%-include ('partials/navbar.ejs') %>

    <h1>Bem-vindo à homepage!</h1>
    <hr>
    <ul>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/perfil">Perfil</a></li>
    </ul>
    <img src="/imgs/imagem1.webp" width="400" alt="Imagem de capa">

<%-include ('partials/footer.ejs') %>