<%- include ('partials/header.ejs')%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <%# Comentário no EJS %>
    <!--<%#= user %> -->
    <p>Bem-vindo(a) <strong><%= user%></strong> ao seu perfil!</p>
<%- include ('partials/footer.ejs')%>
</html>